body{
	background: #fafafa;
	font-family: 'ssp-light';
}

p{
	font-family: 'source_sans_proregular';
}

h1,h2,h3,h4,a,p,body{
}



/************************

		HEADER

************************/



header{
	z-index: 1000;
	width: 100%;
}

.navbar-header{
	width: 100%;
}

.navigation{
	width: 100%;
	z-index: 9999;
	position: absolute;
	top: 0;	
	display: block;
	height: 80px;
	background: rgba(0, 0, 0,0.35);
	@media (min-width: @screen-sm-min){
		display: block;
	}
}

.navbar-fixed-top{
	position: fixed;
	width: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.9);
}

.menu{
	float: right;
	list-style-type: none;
	height: 80px;
	margin: 0;
	padding: 0;
	display: none;
	@media (min-width: @screen-md-min){
		display: table;
		margin-right: 100px;
	}
	li{
		display: table-cell;
		vertical-align: middle;
	}
	a{
		padding: 0px 15px;
		font-size: 16px;
		letter-spacing: 0.5px;
		color: #b3b3b3;
		text-decoration: none;
		font-family: 'source_sans_proregular';
		&:focus{
			color: white;
		}
	}
}

.number{
	height: 80px;
	float: right;
	display: none;
	@media (min-width: @screen-sm-min){
		display: table;
	}
	p{
		display: table-cell;
		vertical-align: middle;
		color: white;

	}
}

.logo{
	background: url(../img/logo.svg) no-repeat left center;
	height: 80px;
	width:  200px;
	color: #222525;
	z-index: 100;
	background-size: 80px;
	background-position: center;
	background-size: 140px 200px;
	display: inline-block;
	outline: 0;
	h1{
		color: transparent !important;
		-webkit-user-select: none;
	    -moz-user-select: -moz-none;
	    -ms-user-select: none;
	    user-select: none;
	}
	&:hover{
		text-decoration: none;
	}
}


.transition{
  /* This is !important to include */
  -webkit-transition: -webkit-transform .2s; 
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}


.offcanvas{
  /* This is !important to include */
  width: 320px; 
  height: 100vh;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  background: white;
  z-index: 9999;
  -webkit-transform: translateX(-320px); 
  -ms-transform: translateX(-320px); 
  transform: translateX(-320px);
  .transition;

  .number{
  	display: inline-block;
  	float: none;
  	p{
  		color: #333;
  		text-align: center;
  		margin-top: 30px;
  		display: block;
  		font-size: 22px;
  		font-family: 'ssp-extralight';
  	}
  	span{
  		font-size: 14px;
  		display: block;
  		text-align: center;
  		margin-top: 10px;
  	}
  }
	.navbar-brand{
		display: inline-block;
	}
	.logo{
		margin-top: 50px;
	}

	ul{
		padding: 0;
		margin: auto;
		list-style-type: none;
		float: left;
		width: 100%;
		margin-bottom: 20px;
		li{
			display: block;
		}
		li a{
			color: #1c293f;
			font-size: 26px;
			display: block;
			text-align: center;
			padding-top: 30px;
			text-decoration: none;
		}
		.active{
			background-color: #1c293f;
			color: white;
		}
	}
}

.offcanvas-expanded{
  .offcanvas{
    /* This is !important to include */
    -webkit-transform: translateX(0); 
    -ms-transform: translateX(0); 
    transform: translateX(0);
  }
}

#nav-toggle { 
	cursor: pointer; 
	padding: 10px 35px 16px 0px; 
	position: absolute;
	top: 30px;
	right: 0px;
	display: block;
	z-index: 9999;
	@media (min-width: @screen-sm-min){
		display: none;
	}

}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 20px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -6px; 
}
#nav-toggle span:after {
  bottom: -6px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/************************

		LANDING

************************/


.box{
	display: table;
	width: 90%;
	min-height: 700px;
	margin: auto;
	@media (min-width: @screen-sm-min){
		min-height: calc(~"100vh - 80px");
		width: 78%;
	}
}

.cell{
	display: table-cell;
	vertical-align: middle;
}
.landing-content{
	text-align: center;
	color: white;
	min-height:  700px;
	width: 100%;
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@media (min-width: @screen-sm-min){
		min-height: calc(~"100vh - 80px");
	}
	@media (min-width: @screen-sm-min){
	}
	h2{
		font-size: 50px;
		margin-bottom: 30px;
		text-align: center;
		font-family: 'source_sans_proregular';
		@media (min-width: @screen-sm-min){
			font-size: 65px;
			text-align: left;
		}

		strong{
			font-family: 'source_sans_probold';
		}
	}
	p{
		font-size: 18px;
		width: 100%;
		line-height: 28px;
		margin: auto;
		@media (min-width: @screen-sm-min){
			width: 55%;
			margin: initial;
			font-size: 18px;
			font-family: 'source_sans_proregular';
		}
	}
}

.darkness{
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
}

.slick-next:before{
	background: url(../img/arrow_right.png);
	content: "";
	height: 40px;
	display: block;
}

.slick-prev:before{
	background: url(../img/arrow_left.png);
	content: "";
	height: 40px;
	display: block;
}

.slick-dots li.slick-active button:before{
	color: white;
}

.slick-dots li button:before{
	font-size: 15px;
	color: white;
}

.slick-dots{
	bottom: 45px;
}

.slider{
	.slick-next, .slick-prev{
		display: none !important;
		@media (min-width: @screen-sm-min){
			display: block !important;
		}
	}
}



/************************

		offer

************************/

svg { max-height: 100%; }
.tab_link{
	fill: #dcdcdc;
	transition: all 0.2s ease-in;
}

.offer{
	h3{
		text-align: center;
		margin-top: 30px;
		font-size: 30px;
	}
}
.myTabs{
	text-align: center;
	margin-top: 50px;
}

.tappers{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;

		.nav-tabs{
		display: inline-block;
		padding: 0;
		margin: 0;
		list-style-type: none;
		border-bottom: 0;
		li{
			width: 80px;
			height: 80px;
			border-radius: 5px;
			margin: 0;
			float: left;
			font-size: 16px;
			font-family: 'ssp-extralight';
			@media (min-width: @screen-sm-min){
				width: 120px;
				height: 120px;
				margin: 0 10px;
			}
			@media (min-width: @screen-md-min){
				margin: 0 40px;
			}
			&.active{
				background: transparent;
				.tab_link{
					fill: #39bacd;
				}
			}
		}
		a{
			border:0;
			height: 80px;
			width: 80px;
			background-color: transparent !important;
			border-radius: 5px;
			display: inline-block;
			border: 1px solid #d0d0d0;
			margin-bottom: 15px;
			padding: 12.5px 0 0 0;
			&:hover{
				border: 1px solid #d0d0d0;
				.tab_link{
					fill: lighten(#39bacd, 10%);
				}
			}
			@media (min-width: @screen-sm-min){
				height: 120px;
				width: 120px;
				padding: 25px 0 0 0;
			}
			@media only screen and (max-width:480px){
				width: 60px;
				height: 60px;
			}

		}
	}
}


.crta-wrap{
	text-align: center;
	width: 100%;
	background: #39bacd;
	height: 40px;
	margin-bottom: 40px;
	margin-top: 15px;
}

.tab-item{
	color: #4d4d4d;

	h2{
		margin-bottom: 30px;
		margin-top: 30px;
		text-align: center;
		font-family: 'ssp-semibold-italic';
		@media (min-width: @screen-sm-min){
			margin-top: 10px;
			text-align: left;
		}
	}
	a{
		display: block;
		border: 1px solid #39bacd;
		width: 150px;
		margin: auto;
		margin-bottom: 40px;
		margin-top: 40px;
		font-size: 16px;
		border-radius: 5px;
		padding: 10px;
		text-align: center;
		text-transform: uppercase;
		color: #39bacd;
		text-decoration: none;
		font-weight: bold;
		font-family: 'ssp-semibold';
		&:hover{
			background-color: #39bacd;
			color: white;
		}

	}
	span{
		font-size: 12px;
		text-align: center;
		display: block;
		width: 97%;
		margin: auto;
		font-family: 'source_sans_proregular';
		@media (min-width: @screen-sm-min){
			width: 90%;
		}
	}

	p{
		width: 97%;
		margin: auto;
		line-height: 24px;
		text-align: justify;
		font-family: 'ssp-lightitalic';
		text-align: center;
		@media (min-width: @screen-sm-min){
			width: 85%;
			text-align: initial;
			font-size: 16px;
		}
	}
}

.tab-item_bg{
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	@media (min-width: @screen-sm-min){
		height: 300px;
	}
}

.tab-content{
	color: black;
	position: relative;
}

.crta{	
	text-align: center;
	display: inline-block;
	li, a{
		height: 40px;
		background-color: transparent;
		border-radius: 0 !important;
		margin: 0;
	}

	li:nth-child(odd){
			border-right: 1px solid white !important;
		}
	
	a{
		padding-top: 10px;
		color: white;
		text-decoration: none;
		padding-left: 10px;
		padding-right: 10px;
		border: none !important;
		background-color: transparent !important;
		color: #d2d2d2 !important;
		font-family: 'ssp-lightitalic';
	}
	
	.active{
		a{
			color: white !important;
			font-family: 'source_sans_proitalic';
		}
	}
	li{
		float: left;
	}
}












.reviews{
	background-color: #e3b30d;
	padding: 50px 0;
	margin: 40px 0 0 0;
	color: white;
	text-align: center;
	@media (min-width: @screen-sm-min){
		text-align: left;
	}
	.slick-next{
		display: none !important;
		@media (min-width: @screen-sm-min){
			right: 0;
			top: 98%;
			display: block !important; 
		}
	}
	.slick-prev{
		display: none !important;
		@media (min-width: @screen-sm-min){
			left: 85%;
			top: 98%;
			display: block !important;
		}
	}
}
.review-block{
	h3{
		font-family: 'source_sans_proregular';
		margin-top: 0;
		letter-spacing: 2px;
		color: #ffeaa9;
		margin-bottom: 20px;
		@media (min-width: @screen-sm-min){
			margin-bottom: 40px;
		}
	}
	span{
		letter-spacing: 2px;
		font-size: 30px;
		text-align: center;
		margin-bottom: 30px;
		display: block;
		margin-top: 20px;
		@media (min-width: @screen-sm-min){
			font-size: initial;
			text-align: left;
			margin-bottom: initial;
		}
	}
	p{
		margin-top: 30px;
		font-family: 'ssp-light';
		@media (min-width: @screen-sm-min){
			margin-top: 0;
		}
	}
}


.person-wrap{
	display: table;
	width: 100%;
	padding-top: 30px;
	.avatar{
		border: none;
		@media (min-width: @screen-sm-min){
			display: block;
			border-left: 1px solid #ffeaa9;
		}
	}
	img{
		width: 150px;
		height: 150px;
		margin: auto;
		border-radius: 50%;
		border:2px solid white;
	}
	p{
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 1px;
		margin-top: 30px;
		font-family: 'source_sans_proregular';
		@media (min-width: @screen-sm-min){
			margin-top: 0;
			padding-right: 50px;
		}
	}
	span{
		font-family: 'source_sans_proregular';
	}
	em{
		color: #ffeaa9;
	}
}






.about-hvar{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: auto;
	@media (min-width: @screen-md-min){
		height: 450px;
	}
}

.to-hvar{
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	text-align: center;
	display: table;
	margin: auto;
	padding: 50px 0;
	margin-top: 0;
	@media (min-width: @screen-md-min){
		float: right;
		width: 70%;
		display: inline-block;
		padding: 50px 0;
		margin-top: 50px;
		margin-right: 50px;
	}
	@media (min-width: @screen-lg-min){
		width: 60%;
	}
}

.to-hvar_head{
	width: 100%;
	float: left;
	display: table;
	height: auto;
	@media (min-width: @screen-md-min){
		width: 30px;
		height: 260px;
		margin: 0 50px;
	}
	h3{
		color: #e1af00;
		font-size: 50px;
		font-family: 'ssp-semibold';
		margin-bottom: 30px;
		margin-top: 0;
		@media (min-width: @screen-md-min){
			font-size: 80px;
			margin-bottom: 0;
			font-size: 50px;
		}
	}
}

.to-hvar_cell{
	display: table-cell;
	vertical-align: middle;
}


.to-hvar_content{
	width: 100%;
	float: left;
	display: table;
	height: 260px;
	@media (min-width: @screen-md-min){
		width: 70%;
	}
	.to-hvar_content_stripe{
		
		@media (min-width: @screen-md-min){
			border-left: 1px solid #efefef;
		}
	}
	p{
		color: white;
		padding: 0px 50px;
		font-size: 15px;
		text-align: center;
		@media (min-width: @screen-md-min){
			font-size: 17px;
		}
	}

	a{
		border: 1px solid white;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		color: white;
		text-decoration: none;
		margin-top: 20px;
		display: inline-block;
		font-family: 'source_sans_proregular';
		&:hover{
			background-color: white;
			color: #e1af00;
		}
	}
}

.contact iframe{
	height: 400px;
	@media (min-width: @screen-sm-min){
		height: 600px;
	}
}

.contact-content{
	width: 80%;
	color: #989898;
	padding-top: 50px;
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 80px;
	@media (min-width: @screen-sm-min){
		text-align: initial;
		padding-left: 18%;
		margin-bottom: 0;
	}

	h3{
		font-size: 50px;
		margin-bottom: 20px;
		font-family: 'ssp-extralight';
	}
	p{
		font-size: 16px;
		line-height: 25px;
		font-family: 'source_sans_proregular';
		@media (min-width: @screen-sm-min){
			font-size: 18px;
		}
	}
	strong{
		font-family: 'source_sans_proregular';
	}
	.text{
		margin-top: 20px;
		font-size: 16px;
		@media (min-width: @screen-sm-min){
			margin-top: 100px;
		}
	}
	a{	

		border: 1px solid #989898;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		color: #4d4d4d;
		text-decoration: none;
		display: block;
		width: 111px;
		margin: auto;
		margin-top: 50px;
		&:hover{
			background-color: #4d4d4d;
			color: white;
		}
	}
}

.facebook{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;
	margin-top: -5px;
	img{
		width: 100%;
	}
	.face-box{
		display: inline-block;
		margin-top: 75px;
		width: 100%;
		img{
			width: 30px;
			margin: auto;
			display: block;
		}
		p{
			text-align: center;
			color: white;
			margin-top: 20px;
			font-size: 18px;
		}
		strong{
			font-family: 'ssp-semibold';
		}

	}
}

.copyright{
	background-color: #252525;
	padding-bottom: 30px;
	p{
		color: #989898;
		padding: 30px 0;
		text-align: center;
		margin: 0;
		font-family: 'source_sans_proregular';
	}
	hr{
		width: 30%;
		margin: auto;
		border-top: 1px solid #303030;
	}

	span{
		text-align: center;
		width: 100%;
		display: block;
		color: #676767;
		margin-top: 30px;
	}
}

/************************

		INNER

************************/

.inner{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	color: white;
	@media (min-width: @screen-sm-min){
		text-align: center;
	}
	.box{
		min-height: 500px;
		width: 85%;
	}
	h2{
		font-size: 40px;
		margin-bottom: 30px;
		text-align: center;
		text-shadow: 1px 1px black;
		font-family: 'source_sans_probold_italic';
		@media (min-width: @screen-sm-min){
			font-size: 80px;
		}
	}
	p{
		font-size: 18px;
		line-height: 28px;
		text-shadow: 2px 1px black;
		text-align: center;
		@media (min-width: @screen-sm-min){
			font-size: 22px;
		}
	}
}


.inner-content{
	display: block;
	background-image: initial;
	padding-bottom: 30px;
	@media (min-width: @screen-sm-min){
		background-position: 100px 300px;
		background-repeat: no-repeat;
		background-image: url(../img/map.png);
	}
	.lead-p{
		font-size: 20px;
		font-weight: bold;
		text-align: justify;
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: justify;
		font-family: 'ssp-semibold';
	}
	p{
		font-size: 16px;
		width: 90%;
		margin: auto;
		margin-bottom: 30px;
		text-align: left;
		@media (min-width: @screen-sm-min){
			width: 50%;
			text-align: justify;
		}

	}
	.space{
		@media (min-width: @screen-sm-min){
			margin-bottom: 350px;
		}
	}
}

/************************

	  	map	

************************/
.map-frame{
	pointer-events: none;
}


